In [7]:
import pandas as pd
import matplotlib as plt

df = pd.read_csv("nba_players_shooting.csv", index_col=0)

**Create List of Players**

In [8]:
players = df['SHOOTER'].unique()
print(players)

['Seth Curry' 'Chris Paul' 'Russell Westbrook' 'Trae Young']

**Create Efficiency Dataframe**

In [9]:
eff = pd.DataFrame({'Player': players, 'Made': 0, 'Missed': 0})
for i in range(len(eff)):
    player = eff['Player'][i]
    eff.loc[i, 'Made'] = df[(df['SHOOTER'] == player) & (df['SCORE'] == 'MADE')].shape[0]
    eff.loc[i, 'Missed'] = df[(df['SHOOTER'] == player) & (df['SCORE'] == 'MISSED')].shape[0]
    eff['Total'] = eff['Made'] + eff['Missed']
    eff['Efficiency'] = eff['Made'] / (eff['Made'] + eff['Missed'])
display(eff)

              Player  Made  Missed  Total  Efficiency
0         Seth Curry    85      62    147    0.578231
1         Chris Paul   105     111    216    0.486111
2  Russell Westbrook    28      56     84    0.333333
3         Trae Young   142     187    329    0.431611

**Create Efficiency vs Defender Dataframe**

In [10]:
#Create All possible matchups
comb = len(players) * (len(players) - 1)
m = [[0] * 2 for _ in range(comb)]
x = 0
for i in range(len(players)):
    for y in range(len(players)):
        if players[i] != players[y]:
            m[x][0] = players[i]
            m[x][1] = players[y]
            x += 1
#Calculate Efficiency vs. Matchup
meff = pd.DataFrame(m, columns=['Shooter', 'Defender'])
meff['Made'] = 0
meff['Missed'] = 0
for i in range(len(meff)):
    shooter = meff['Shooter'][i]
    defender = meff['Defender'][i]
    meff.loc[i, 'Made'] = df[(df['SHOOTER'] == shooter)& (df['DEFENDER'] == defender) & (df['SCORE'] == 'MADE')].shape[0]
    meff.loc[i, 'Missed'] = df[(df['SHOOTER'] == shooter)& (df['DEFENDER'] == defender) & (df['SCORE'] == 'MISSED')].shape[0]
    meff['Total'] = meff['Made'] + meff['Missed']
    meff['Efficiency'] = meff['Made'] / (meff['Made'] + meff['Missed'])
display(meff)

              Shooter           Defender  Made  Missed  Total  Efficiency
0          Seth Curry         Chris Paul    26      19     45    0.577778
1          Seth Curry  Russell Westbrook    12      36     48    0.250000
2          Seth Curry         Trae Young    47       7     54    0.870370
3          Chris Paul         Seth Curry    38      31     69    0.550725
4          Chris Paul  Russell Westbrook    17      59     76    0.223684
5          Chris Paul         Trae Young    50      21     71    0.704225
6   Russell Westbrook         Seth Curry     3      19     22    0.136364
7   Russell Westbrook         Chris Paul     8      23     31    0.258065
8   Russell Westbrook         Trae Young    17      14     31    0.548387
9          Trae Young         Seth Curry    44      56    100    0.440000
10         Trae Young         Chris Paul    67      54    121    0.553719
11         Trae Young  Russell Westbrook    31      77    108    0.287037